.auth-buttons {
  display: flex;
  gap: 0.5rem;
}

.auth-btn {
  background-color: #81b1b3;
  color: #203031;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.auth-btn:hover {
  background-color: #608385;
}
